$primaryColor : #522258;
$secondaryColor : #8C3061;
$accentColor : #C63C51;
$mainColor:#F8EDED;
$white : #fff;
$black : #000000;

$font-weights : (
    "regular" : 400 ,
    "medium" : 500 ,
    "bold" : 700
);

$font-sizes : (
    "medium" : 1.1rem,
    "large" : 2.1rem,
    "x-large" : 2.4rem
);

$mobile: 400px;